
h1 {
    font-size: 60px;
    font-family: "Fredoka One";
    color: ghostwhite;
    background-color: rgba(187, 236, 255, 0.751);
    text-align: center;
    border-radius: 15px 15px 15px 15px;

 
}

h2 {
    font-size: 30px;
    background-color: ghostwhite;
    border-radius: 15px;
    font-family: "Fredoka One";
    display: inline-block;
}

#ranked {
    color: rgb(255, 116, 69);

}
body {
    background-image: url("/HTMLmeImages/grass_wallpaper.png");
    margin-left: 300px;
    margin-right: 300px;
}

.topnav a{
    text-align: center;
}

p {
    background-color: rgba(248, 248, 255, 0.726);    
    color: rgb(23, 23, 23);
    border-radius: 5px;
    font-family: "Questrial";
    display: inline-block;
    
}

#flurry {
    color: rgb(250, 117, 208);
    text-align: right;
}

img {
    border-radius: 15px;
    border: 10px double ghostwhite;
    display: inline-block;
}
