h1 {
    font-size: 60px;
    font-family: "Fredoka One", "Helvetica";
    color: rgb(138, 182, 229);
    background-color: ghostwhite;
    text-align: center;
    border-radius: 15px 15px 15px 15px;

 
}

h2 {
    font-size: 30px;
    background-color: ghostwhite;
    border-radius: 15px;
    font-family: "Fredoka One";
    padding: 15px 10px 15px 10px;
    
}

#mainHeading {
    color: red;

}
body {
    background-image: url("./HTMLmeImages/GrassBackground.png");
    margin: 8px;
    display: block;
}



nav {
  display: flex;
  justify-content: center;
}
  


p {
    background-color: rgba(248, 248, 255, 0.812);    
    color: rgb(23, 23, 23);
    border-radius: 10px;
    font-family: "Questrial";
    padding: 15px 10px 15px 10px; 
    display: flex;
    font-size: 20px;
/*     margin: 15px 10px 15px 10px; */
}
nav img:hover {  
    border-radius: 15px;
    border: 10px double gold;
    
  
}

#flurry {
    color: rgb(250, 117, 208);
    
}

.funParagraph {
    color: green;
}

img {
    border-radius: 30px;
    border: 10px double ghostwhite;
    margin: 15px;
}

footer {
    font-family: "Fredoka One";
    background-color: ghostwhite;
    color: rgb(138, 182, 229);
}
